input {
  padding: 4px;

  color: black;
  font-family: 'Playfair Display', serif;

  outline: none;

  border: none;

  font-size: 32px;
  text-align: left;
}

input::placeholder {
  color: black;
  opacity: 0.8;

  transition: opacity .2s;
}


input:focus::placeholder {
  opacity: 0;
}
